<h1>{{title}}</h1>

<form (submit) ="addQuote()" name="quoteForm" #formData='ngForm'>
  <textarea name="quote"cols="50" rows="10" required minlength="4" #quoteSomething='ngModel' [(ngModel)]='quotes.quote'></textarea>
  <div *ngIf="quoteSomething.errors">
    <span [hidden]="quoteSomething.untouched && quoteSomething.errors.required">Please add a quote</span>
  </div>
  <br>
  <label for="author">Author</label><input type="text" required minlength="1" name="author" #authorSomething='ngModel' [(ngModel)]='quotes.author'>
  <div *ngIf="authorSomething.errors">
    <span [hidden]="authorSomething.untouched && authorSomething.errors.required">Please add an author</span>
  </div>
  <input type="submit">
</form>
{{ quotes | json }}

<app-quote *ngFor='let quote of quoteList' [quote]='quote'></app-quote>
